<body>
<canvas style='border:1px solid black'></canvas>
<textarea id='resultado' rows='10' cols='50' style='display:none;position:absolute;top:0;left:0'>x</textarea>
<script src='general.js'></script>
<!--script src='GraphSVG.js'></script-->
<script src='GCanvas.js'></script>
<script src='Base.js'></script>
<script src='Anim.js'></script>
<script src='MainAnim.js'></script>
<script src='Color.js'></script>
<script src='Punto.js'></script>
<script src='Linea.js'></script>
<script src='Poligono.js'></script>
<script src='Orto.js'></script>
<script src='C2Bezier.js'></script>
<script src='CPath.js'></script>
<script src='iri.js'></script>
<script src='Habitación01.js'></script>
</body>