<body>
	<canvas id='canvas' width='1000' height='1000'></canvas>
	<script>
		ctx=canvas.getContext('2d');
		var img=new Image();
		img.src='Face01.jpg';
		img.onload=function(){
			ctx.scale(1.4285714285714285714285714285714,1.4285714285714285714285714285714);
			ctx.translate(200,300);
			ctx.rotate(-38*Math.PI/180);
			ctx.drawImage(img,0,0);
		}
	</script>
</body>