<script src='general.js'></script>
<script>
	/*var a=[[-3,2,5],[2,4,6],[0,-5,7]];
	var b=[[-3000,2000,1000],[2000,4000,100],[0,-5000,100]];
	var c=[[-10,5,5],[-7,3,5],[-9,-1,5]];
	//console.log(puntoDetrasTriangulo([-3,2,5],[2,4,6],[0,-5,7],[0,0,100]));
	console.log(delanteTriangulo(a[0],a[1],a[2],b[0],b[1],b[2]));
	console.log(delanteTriangulo(b[0],b[1],b[2],a[0],a[1],a[2]));
	console.log(delanteTriangulo(a[0],a[1],a[2],c[0],c[1],c[2]));*/
	/*var a=[[-20,5,155],[-23,5,155],[-20,5,170]];
	var b=[[-20,5,150],[-20,5,155],[-20,-15,150]];
	console.log(delanteTriangulo(a[0],a[1],a[2],b[0],b[1],b[2]))*/
	var a=[[-20,20,180],[-20,5,180],[-20,20,130]];
	var b=[[-20,10,170],[-20,10,180],[-10,10,170]];
	console.log(delanteTriangulo(a[0],a[1],a[2],b[0],b[1],b[2]))
</script>