<body>
	<canvas id='canvas' width='2000' height='1000'></canvas>
	<script>
		ctx=canvas.getContext('2d');
		var img=new Image();
		img.src='s5.jpg';
		img.onload=function(){
			ctx.scale(30/6,30/6);
			ctx.translate(0,0);
			ctx.rotate(1*Math.PI/180);
			ctx.drawImage(img,0,0);
		}
	</script>
</body>